@font-face {
  font-family: 'iconfont';  /* Project id 3854928 */
  src: url('//at.alicdn.com/t/c/font_3854928_i7qxgrazehr.woff2?t=1673083010939') format('woff2'),
       url('//at.alicdn.com/t/c/font_3854928_i7qxgrazehr.woff?t=1673083010939') format('woff'),
       url('//at.alicdn.com/t/c/font_3854928_i7qxgrazehr.ttf?t=1673083010939') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
